[Unit]
Description=menze.bdeak.net

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/root/menze.bdeak.net
ExecStart=/root/menze.bdeak.net/server.py

[Install]
WantedBy=multi-user.target
